<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<body>
  <!-- Header -->
  <% if (locals.user != undefined) { %>
    <%- include('./partials/headerLogueado') %>
  <% } else { %>
    <%- include('./partials/header') %>
  <% } %>
  <!-- /Header -->

  <!-- Formulario de login -->
   <br>
  <div class="container">
    <h2 class ="login">Ingresar</h2>
    <% if (locals.error) { %>
      <p class="error"><%= locals.error %></p>
    <% } %>
    <form action="/users/login" method="POST">
      <label class ="textLogin" for="mail">Email:</label><br>
      <input class ="enterLogin" type="email" id="mail" name="mail" required><br><br>

      <label class ="textLogin" for="contrasenia">Contraseña:</label><br>
      <input class ="enterLogin" type="password" id="contrasenia" name="contrasenia" required><br><br>

      <input class ="textLogin" type="checkbox" id="recordarme" name="recordarme">
      <label class ="enterLogin" for="recordarme">Recordarme</label><br><br>

      <input class = "loginButton" type="submit" value="Iniciar Sesión">
    </form>
  </div>

  <!-- Footer -->
  <%- include('./partials/footer') %>
  <!-- /Footer -->
</body>
</html>

