<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>	
	<!-- /Header -->


	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/product/add" method="POST">
				<input type="hidden" name="idUsuario" value="<%= locals.user.id %>">

				<label for="imagen">Imagen:</label><br>
			   <input type="text" id="imagen" name="fotoProducto" required><br><br>
			   <% if (locals.errors && errors.fotoProducto) { %>
				<p> <%= errors.fotoProducto.msg %> </p>
				<% } %>	
		
		
				<label for="usuario">Nombre del producto:</label><br>
				<input type="text" id="nombre" name="nombreProducto" required><br><br>
				<% if (locals.errors && errors.nombreProducto) { %>
					<p class = "error" > <%= errors.nombreProducto.msg %> </p>
				<% } %>	
		
		
				<label for="descripcion">Descripción del producto:</label><br>
				<textarea id="descripcion" name="descripcion" rows =”4” required> </textarea><br><br>
				<% if (locals.errors && errors.descripcion) { %>
					<p class = "error" > <%= errors.descripcion.msg %> </p>
				<% } %>	 

				<input class ="productAdd" type="submit" value="Agregar Producto"> <br><br>
			</form>



	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>