<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>	
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= productos.nombreProducto%></h2> 
			<% if (condition) {%>
				<br><br> <p class="product-detail-description">
				<form action="/product/editProduct" method="post">
					<input type="hidden" name="id" value="<%= productos.id%>">
					<button class="editButton" type="submit"><a>Editar</a></button>
				</form> 
			
				<form action="/product/delete" method="post">
					<input type="hidden" name="id" value="<%= productos.id%>">
					<input type="hidden" name="idUsuario" value="<%= productos.usuario.id%>">
					<button class="deleteButton" type="submit"><a>Eliminar</a></button>
				</form>
			</p>
			<%}%>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%=productos.fotoProducto%>" alt="" class="product-detail-img">
					<p class="product-detail-description"> <%= productos.descripcion%>
						<%if (!condition){ %>
						<br><br> Subido Por: <strong><a href="/users/profile/id/<%= productos.usuario.id %>"><%= productos.usuario.nombre %></a></strong>
						</br>
						<%}%>


					</p>

				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let i = 0; i < productos.comentarios.length; i++) {%>
						<article >
							<img class ="comsImage" src="<%=productos.comentarios[i].usuario.fotoPerfil%>" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/users/profile/id/<%= productos.comentarios[i].usuario.id %>"><%=productos.comentarios[i].usuario.nombre %>: </a> </strong>
								 <%= productos.comentarios[i].textoComentario%></p>
							</div>
						</article>
						<%}%>
					</section>
					<% if (locals.user != undefined) { %>
						<br>
						<form action="/product/id/<%= productos.id %>" method="post">
							<input class ="enterLogin" type="text" required value="" name ="comentario" placeholder="Comentario"><br>
							<button type="submit" class="deleteButton">Agregar Comentario</button>
						</form>
					<% if (locals.errors && locals.errors.comentario) { %>
						<p ><%= locals.errors.comentario.msg %></p><br>
					<% } %>
					<% } else { %>
                        <div >
                            <a class ="comButton" href="/users/login">Debes estar logueado para comentar</a>
                        </div>
                    <% } %>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>