<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<body>
  <!-- Header -->
  <% if (locals.user != undefined) { %>
    <%- include('./partials/headerLogueado') %>
  <% } else { %>
    <%- include('./partials/header') %>
  <% } %>
  <!-- /Header -->

  <!-- Formulario de registro -->
  <div class="container">
    <br> 
    <div class="container">
      <br> 
      <h2 class="register">Registrate</h2>
      <% if (locals.error) { %>
          <p class="error"><%= locals.error %></p>
      <% } %>
      <% if (locals.errors) { %>
          <% for (let i = 0; i < locals.errors.length; i++) { %>
              <p class="error"><%= locals.errors[i].msg %></p>
          <% } %>
      <% } %>
  </div>
    <form action="/users/register" method="POST">
      <div>
        <input id="mail" type="email" name="mail" value="<%= locals.old ? locals.old.mail : '' %>" placeholder="Email" required>
      </div> <br> 
      <div>
        <input id="nombre" type="text" name="nombre" value="<%= locals.old ? locals.old.nombre : '' %>" placeholder="Usuario" required>
      </div> <br> 
      <div>
        <input id="contrasenia" type="password" name="contrasenia" value="" placeholder="Contraseña" required>
      </div> <br> 
      <div>
        <input id="fecha" type="date" name="fecha" value="<%= locals.old ? locals.old.fecha : '' %>" placeholder="Fecha de Nacimiento">
      </div> <br> 
      <div>
        <input id="dni" type="number" name="dni" value="<%= locals.old ? locals.old.dni : '' %>" placeholder="DNI">
      </div> <br> 
      <div>
        <input id="fotoPerfil" type="text" name="fotoPerfil" value="<%= locals.old ? locals.old.fotoPerfil : '' %>" placeholder="Foto de Perfil">
      </div> <br> 
      <div>
        <button class = "registerButton" type="submit">Enviar</button> 
      </div>
    </form>
  </div>

  <!-- Footer -->
  <%- include('./partials/footer') %>
  <!-- /Footer -->
</body>
</html>
