<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	
	<%- include('./partials/header') %>

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda: </h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% if (productos.length === 0) { %>
				<div class="col-12">
				  <p class = "noresultado"> No hay resultados para su criterio de búsqueda</p>
				</div>
				<% } else { %>
			<% for (let i = 0; i < productos.length; i++) {%>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/id/<%= productos.id %>"">
						<figure class="product-box_image">
							<img src="<%=productos[i].fotoProducto%>" alt="disco">
						</figure>
						<article class="product-box_data">
							<h2><%= productos[i].nombreProducto%></h2> 
							<p><%= productos[i].descripcion%></p>
							<p>Comentarios: 0 </p>
						</article>
					</a>
				</section>
			</div>
		<%}%>
		<% } %>
		</div>
	</div>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>